services:
  weather_forecast_service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "18081:8081"

  chatbot_ui:
    build:
      context: ../../shared/chatbot_ui
      dockerfile: Dockerfile
    ports:
      - "18080:8080"
    environment:
      - CHAT_COMPLETION_ENDPOINT=http://host.docker.internal:10000/v1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./arch_config.yaml:/app/arch_config.yaml
